@model ExpenseEditPageModel

    <div class="row">
        <div class="col col-lg-2"></div>
        <div class="col col-lg-8 col-sm-12">
<div class="container">
    <form class="form-inline" method="post">
        <div class="modal-header">
            <h2 class="modal-title" id="NewExpenseLabel">@ViewData["Title"]</h2>
        </div>
        <div class="modal-body">
            <input type="hidden" asp-for="@Model.ExpenseEditModel.Id">
            <input type="hidden" asp-for="@Model.ExpenseEditModel.UserId">
            <div class="row mb-3 align-items-center">
                <label asp-for="@Model.ExpenseEditModel.Name" for="colFormLabel" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="@Model.ExpenseEditModel.Name" class="form-control">
                    <span asp-validation-for="@Model.ExpenseEditModel.Name"></span>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label asp-for="@Model.ExpenseEditModel.TotalAmount" for="colFormLabel" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <input asp-for="@Model.ExpenseEditModel.TotalAmount" type="number" step="0.01" min="0.01" class="form-control"
                        placeholder="00.00">
                    <span asp-validation-for="@Model.ExpenseEditModel.TotalAmount"></span>
                </div>
                <div class="col-sm-1"></div>
                <label asp-for="@Model.ExpenseEditModel.CurrencyId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                <select asp-for="@Model.ExpenseEditModel.CurrencyId" class="form-control" placeholder="@Model.ExpenseEditModel.CurrencyId">
                @foreach(var item in @Model.CurrencyInputModel)
                {
                    <option value="@item.Id">
                    @item.Acronym
                    </option>
                }
                </select>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row mb-3 align-items-center">
                <label asp-for="@Model.ExpenseEditModel.Date" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="@Model.ExpenseEditModel.Date" type="date" class="form-control">
                    <span asp-validation-for="@Model.ExpenseEditModel.Date"></span>
                </div>
                <label asp-for="@Model.ExpenseEditModel.Location" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="@Model.ExpenseEditModel.Location" class="form-control">
                    <span asp-validation-for="@Model.ExpenseEditModel.Location"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ExpenseEditModel.Note" class="col-form-label"> Note</label>
                <textarea type="text" asp-for="@Model.ExpenseEditModel.Note" class="form-control" rows=3></textarea>
            </div>
        </div>
        
        <div class="modal-footer">
            <a type="button" class="btn btn-secondary" asp-action="Index">Annulla</a>
            <button type="submit" class="btn btn-primary">Salva</button>
        </div>
    </form>
</div>
