@model ExpenseViewModel
<tr expense-id="@Model.Id">
    <td>@Model.Date.ToString("yyyy-MM-dd")</td>
    <td class="expense-name">@Model.Name</td>
    <td class="expense-amount">@Model.Amount</td>
    <td class="expense-currency">@Model.Currency</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-sm" type="button" id="dropDownDetail" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropDownDetail">
              <li>
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalExpenseDetail">Dettagli</button>
              </li>
              <li>
                <a type="button" class="dropdown-item" asp-controller="Expenses" asp-action="Edit" asp-route-Id="@Model.Id">Modifica</a>
              </li>
              <div class="dropdown-divider"></div>
              <li>
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalExpenseDelete">Elimina</button>
              </li>
            </ul>
        </div>
    </td>
</tr>



<!-- Modal Details -->
<div class="modal fade" id="ModalExpenseDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dettagli</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

