@model ExpenseViewModel
<tr expense-id="@Model.Id">
    <td>@Model.Date.ToString("yyyy-MM-dd")</td>
    <td class="expense-name">@Model.Name</td>
    <td class="expense-amount">@Model.Amount</td>
    <td class="expense-currency">@Model.Currency</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-sm" type="button" id="dropDownDetail" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropDownDetail">
              <li>
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalExpenseDetails">Details</button>
              </li>
              <li>
                <a type="button" class="dropdown-item" asp-controller="Expenses" asp-action="Edit" asp-route-Id="@Model.Id">Edit</a>
              </li>
              <div class="dropdown-divider"></div>
              <li>
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalExpenseDelete">Delete</button>
              </li>
            </ul>
        </div>
    </td>
</tr>

